body {background-color:#CAC2C2;}
.bold{font-weight:900;font-size:1.5em;}

#type {background-color:#5C5858;height:1000px;color:#FFFFFF;margin-top:25px;}

#list {background-color:#5C5858;color:white;}

span{font-weight:700;}